@font-face {
    font-family: globalFonts;
    src: url("../data/BioRhyme-Regular.ttf");
    font-display: swap;
}
body{
    font-family: globalFonts;
    margin: 0px;
    padding: 20px;
    background: #f1f4f8;
    background-image: url("../images/pattern3.svg");
    background-position: right;
    background-size: cover;
    background-repeat: repeat-y;
    color: white;
}

.darkmode-background{
    background: none;
}


// header styles

.header{
    margin: 0px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .logo{
        width: 40px;
        height: auto;
        cursor: pointer;

        img{
            width: 100%;
        }
    }
    .menu{
        width: 45px;
        height: auto;
        background-color: #040721;
        outline: none;
        border: none;
        
        img{
            width: 100%;
            cursor: pointer;
            height: auto;
        }
    }

}

.MuiPaper-root{
    background-image: url("../images/pattern3.svg");
    background-position: right;
    background-size: cover;
    background-repeat: repeat-y;
    color: white !important;
    height: 100vh !important;
    width: 100% !important;
}
.close-button{
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    color: #ff9800;
    background: transparent;
    border: none;
    font-size: 20px;

    &:focus{
        border: none;
        outline: none;
    }
}
.drawer-menu{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a{
        text-decoration: none;
        font-size: 16vh;
        font-weight: 600;
        color: #ff9800;

        @media only screen and (min-width: 701px) and (max-width: 900px) {
            font-size: 14vh;
        }
        @media only screen and (max-width: 700px) {
            font-size: 9vh;
        }
        @media only screen and (max-width: 400px) {
            font-size: 6vh;
        }
        &:hover{
            transform: translate(20px, 0px);
            transition: all 1s ease-out;
        }
    }
}

@mixin network-status{
    width: 100%;
    left: 0px;
    position: absolute;
    bottom: 0px;
    transition-property: all;
    transition-duration: 600ms;
    transition-timing-function: ease-in;
    transform-origin: center;
    p{
        margin: 0px 10%
    }
}
.network-inner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.network-close-btn{
    outline: none;
    border: none;
    background: transparent;
    height: 30px;
    
}

.online{
    @include network-status();
    background-color: #ff9800;
    color: black;
}
.offline{
    @include network-status();
    background-color: rgb(141, 11, 11);
    color: white;
}


//footer styles

footer{
    text-align: center;
    padding: 10px;
}

//display email at the right side of page
.email{
    position: absolute;
    top: 58vh;
    right: -40vh;
    transform: rotate(90deg);

    @media only screen and (max-width: 950px){
        display: none;
    }
    .email-link{
        text-decoration: none;
        color:  #ff9800;
    }
    &::after{
        content: "----------------------------------------------------------";
        color: #ff9800;
        margin-right: 5px;
    }
}

// menu options
.menu-options{
    position: fixed;
    left: -22vh;
    top: 300px;
    transform: rotate(-90deg);

    a{
        text-decoration: none;
        color: #ff9800;
        margin-right: 10px;

        @media only screen and (max-width: 950px){
            display: none;
        }

        &::before{
            content: "⚫";
        }
    }
}

@mixin slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto !important;

    img{
        width: 100% !important;
    }
}

// swiper slide
.swiper-slide{
    @include slider()
}

// window resize styles
.window-resize{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: #ff9800;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    z-index: 999;
}