@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300;400;800&display=swap');

body{
    font-family: 'BioRhyme', serif;
    margin: 0px;
    padding: 20px;
    background: #f1f4f8;
    // background-image: url("../images/pattern2.png");
    // background-position: right;
    // background-size: contain;
    // background-repeat: no-repeat;
}

main{
    // min-height: 72vh;
}

// header styles

.header{
    margin: 0px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        width: 40px;
        height: auto;
        cursor: pointer;

        img{
            width: 100%;
        }
    }
    .menu{
        width: 35px;
        height: auto;
        cursor: pointer;

        img{
            width: 100%;
            height: auto;
        }
    }

}

//footer styles

footer{
    text-align: center;
    padding: 10px;
}