@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300;400;800&display=swap');

body{
    font-family: 'BioRhyme', serif;
    margin: 0px;
    padding: 20px;
    background: #f1f4f8;
    background-image: url("../images/pattern3.svg");
    background-position: right;
    background-size: cover;
    background-repeat: repeat-y;
    color: white;
}

.darkmode-background{
    background: none;
}
main{
    // min-height: 72vh;
}

// header styles

.header{
    margin: 0px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        width: 40px;
        height: auto;
        cursor: pointer;

        img{
            width: 100%;
        }
    }
    .menu{
        width: 35px;
        height: auto;
        cursor: pointer;

        img{
            width: 100%;
            height: auto;
        }
    }

}

//footer styles

footer{
    text-align: center;
    padding: 10px;
}

//display email at the right side of page
.email{
    position: absolute;
    top: 58vh;
    right: -35vh;
    transform: rotate(90deg);

    @media only screen and (max-width: 930px){
        display: none;
    }
    .email-link{
        text-decoration: none;
        color: white;
    }
    &::after{
        content: "----------------------------------------------------------";
        color: #ff9800;
        margin-right: 5px;
    }
}

// menu options
.menu-options{
    position: fixed;
    left: -10vh;
    top: 50%;
    transform: rotate(-90deg);

    a{
        text-decoration: none;
        color: #ff9800;
        margin-right: 10px;

        @media only screen and (max-width: 930px){
            display: none;
        }

        &::before{
            content: "⚫";
        }
    }
}