
.index-container{
    display: grid;
    grid-template-columns: 10% 50% 30% 10%;
    min-height: 82vh;

    img{
        width: 100%;
        height: auto;
    }
    .social-container{
        display: flex;
        align-items: center;
    }
    @media only screen and (max-width: 768px) {
        .social-container{
            align-items: flex-end;
        }
    }
    .img-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button{
        background:linear-gradient(to bottom, #ff9800 0%,#ff9800 100%);
        background-position: 0 100%;
        background-repeat: repeat-x;
        background-size: 4px 4px;
        color:  #ff9800;
        text-decoration: none;
        transition: background-size .6s;
        margin-top: 15px; 
        padding: 2px;
        border: none;
        font-size: 16px;
        cursor: pointer;

        a{
            text-decoration: none;
            color:  #ff9800;
            &:hover{
                color: #000;
            }
        }
        &:hover{
            background-size: 4px 40px;
        }
        
        &:focus{
            border: none;
            outline: none;
        }
    }

    .intro-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        p{
            font-size: 1.5vw;
            padding: 0px;
            margin: 0px;
        }

        h1{
            font-size: 8vw;
            padding: 0px;
            margin: 0px;
        }
        @media only screen and (max-width: 600px) {
            p {
                font-size: 15px;
            }
            h1{
                font-size: 12vw;
            }
        }
        
    }

    .menu-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
}

@media only screen and (max-width: 600px) {
    .index-container{
        display: grid;
        grid-template-columns: 10% 80% 0% 0%;
    }
    .menu-container{
        display: none !important;
    }
}
.ninja-img{
    display: flex;
    align-items: center;
}
@media only screen and (min-width: 601px) and (max-width: 800px) {
    .index-container{
        display: grid;
        grid-template-columns: 10% 60% 30% 0%;
    }
    
    .menu-container{
        display: none !important;
    }
    .intro-container{
        p{
            font-size: 1rem !important;
        }
        h1{
            font-size: 5rem !important;
        }
    }
}

// social icons

.social{
    display: flex;
    flex-direction: column;

    img{
        width: 25px;
        height: 25px;
        background: #f1f4f8;
        border-radius: 50%;
        box-shadow:  3px 3px 12px #cdcfd3, 
             0px 0px 12px #ffffff;
             &:hover {
                transform: scale(1.2);
                transition-timing-function: ease;
                transition-duration: .3s;
            }
        }
        @media only screen and (max-width: 768px) {
            display: flex;
            flex-direction: row;
            img{
                width: 21px;
                height: 21px;
                margin-right: 10px;
            }
        }
       
}

// Menu

.menu{
    display: flex;
    flex-direction: column;
    p{
        margin: 0px;
        margin-top: 5px;
        font-size: 15px;

    }
    a {
        background:linear-gradient(to bottom, #ff9800 0%,#ff9800 100%);
        background-position: 0 100%;
        background-repeat: repeat-x;
        background-size: 2px 2px;
        color:  #ff9800;
        text-decoration: none;
        transition: background-size .5s;
        margin-top: 3px;

        &:hover{
            background-size: 2px 25px;
            color:  #000;
        }
      }

}
